.root {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  width: 10rem;
  margin: 0 auto 1rem auto;
}

.logo {
  width: 80%;
  margin: 1rem auto;
  display: flex;
}

.subtitle {
  text-align: center;
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
